
#d{
    background-color: rgba(255, 68, 0, 0.811);
    height: 545px;
    border-radius: 15px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
.search{
    border: 1px solid rgba(0, 0, 0, 0.836);
    padding: 5px;
    border-radius: 20px;
    width: 20%;
    input{
        border: none;
        outline: none;
        background-color: rgb(234, 227, 227);
        
    }
}
.b1{
    button{
        padding-inline: 23px;
        border-radius: 20px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: rgba(128, 128, 128, 0.46);
    }
}
.card{
    background-color: rgba(191, 183, 183, 0.693);
    line-height: 15px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    img{
        transition: transform 0.3s ease;
    }
    img:hover{
        transform: scale(1.07);
    }
    h4{
        font-size: 25px;
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;    
    }
}
.active {
    background-color: rgba(230, 79, 24, 0.842) !important;
    color: white; 
  }
  @media (max-width: 768px) {
    #d {
        height: auto;
    }
    .search {
        width: 100%;
    }
    .b1 {
        flex-direction: row;
        width: 50%;
    }
    .b1 button {
        width: 50%;
        margin-bottom: 10px;
    }
    .card {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 576px) {
    .search {
        margin-bottom: 15px;
    }
    .b1 {
        flex-direction: column;
    }
    .b1 button {
        margin-bottom: 10px;
        width: 100%;
    }
}