<div class="dash container">
        <div >
            <h3 class="mt-4 ms-4">Dashboard</h3>
            <hr>
            <div>
              <app-graph></app-graph>
            </div>
            <div class="row mt-3 mb-3">
              <div class="col-lg-4">
                <app-calender></app-calender>
              </div>
              <div class="col-lg-4">
                <app-chart></app-chart>
              </div>
              <div class="col-lg-4">
                <app-line></app-line>
              </div>
            </div>

        </div>
       
</div>
