<div>
    <div class="container shadow w-50 p-5">
        <form action="" >
            <div class="form-floating mb-3">
                <input [(ngModel)]="menuData.name"  name="dishname" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Name of the dish</label>
  
              </div>
              <div class="form-floating mb-3">
                <input [(ngModel)]="menuData.price"  name="price" type="text" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Price</label>
 
              </div>
              <div>
                <select [(ngModel)]="menuData.category" name="category" id="category" class="w-100 p-2 rounded mb-4" name="category" >
                    <option value="" class="disabled">Category</option>
                    <option value="1">Starter</option>
                    <option value="2">Main Course</option>
                    <option value="3">Appetizer</option>
                    <option value="4">Dessert</option>
                    <option value="5">Drink</option>

                </select>
              
              </div>
              <div class="form-floating mb-3">
                <input [(ngModel)]="menuData.image" name="image" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Image url</label>
  
              </div>


              
              <button (click)="update()" type="submit" class="btn btn-dark w-100 text-white ">Update</button>
    
        </form>    
</div>
</div>