<div class="home">
    <div >
        <h2>"Turning meals into memories and flavors into stories.<br> Indulge in the extraordinary and savor the magic!"</h2>
        <div class="i1">
            <img src="https://i.postimg.cc/0y6MghLP/Populace-2.webp" alt="" class="w-100">
    
        </div>  
        <div class="container my-5">
            <div class="row text-center">
                <div class="col-lg-4 col-md-12 col-sm-12 ">
                        <h4>OPENING HOURS</h4>
                        <hr>
                        <p>MON - SAT : 8:00AM - 12PM</p>
                        <p>SUN : 11AM - 11PM</p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 ">
                    <h4>VISIT US</h4>
                    <hr>
                    <p>1234 Elm Stree</p>
                    <p>TSpringfield, New Zealand</p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 ">
                    <h4>CONTACT US</h4>
                    <hr>
                    <p>Email : yumyard@gmail.com</p>
                    <p>Phone : +12 345 967</p>
                </div>
            </div>
        </div>  
        <div class="container mb-5">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="https://i.postimg.cc/xdNCsLMT/pexels-photo-1126728.webp" alt="" class="w-100">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 text-center c1">
                    <h5>Ensure a memorable dining experience by reserving your table in advance. Our cozy and elegant setting is
                         perfect for any occasion, whether it’s a casual dinner or a special celebration. Click the button below to book your table and let us take care of the rest!</h5>
                        <button class="mt-3">BOOK A TABLE</button>
                </div>
            </div>
        </div>
    </div>
</div>